<div class="form-control">

    <div class="">
        <form [formGroup]="formLogin" (submit)="send()">
    
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email" formControlName="email" class="form-control" [(ngModel)]="correo">
            </div>
            
            <div class="form-group">
                <label for="pass">Contraseña</label>
                <input type="password" id="password" formControlName="password" class="form-control">
            </div>
            
            <div class="form-check">
                <label for="pass" class="form-check-label">
                    <input type="checkbox" id="term" formControlName="term" class="form-check-input">
                    Terminos
                </label>
            </div>

            <div class="form-group">
                <button [disabled]="formLogin.invalid" class="btn btn-primary">Enviar</button>
            </div>
            <div class="form-group">
                <textarea name="" id="" cols="30" rows="10" class="form-control">Ingrese mensaje</textarea>
            </div>
        </form>
    </div>

    <div class="">
        {{formLogin.valid}}
    </div>


    <div class="">
        {{formLogin.value | json}}
    </div>

</div>